<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "MoneyApp", "#", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Home", '/home/top' %></li>
		<li><%= link_to "INCOME", incomes_path %></li>
		<li><%= link_to "EXPENSE", expenses_path  %></li>
	</ul>
	</nav>
	</div>
	</header>
